*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 1800px;
}

.button{
  border-radius: 20%;
  border-color: #F7F8F9;
}

.entity-check{
  border-radius: 50%;
  border: solid;
  color: greenyellow;
  border-color: greenyellow; 
}

.entity-check #red{
  color: red;
  border-color: red;
}

.color-code{
  font-size: .6em;
  border: solid white;
  color: white;
  border-radius: 40%;
  width: 50px;
  height: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: #47ACF1;
}

ul{
  list-style: none;
}
/* INIZIO HEADER */
header{
  background-color: white;
}
header h1{
  color: black;
  font-size: 3rem;
  display: inline-block;
  margin-top: 10px;
}

header img{
  vertical-align: bottom;
}
/* /INIZIO HEADER */

/* INIZIO main */

main{
  background-color: #F7F8F9;
  
}

.center-page{
  max-width: 800px;
  margin-left: 300px;
  background-color: white;
}

#header-center-page{
  border-radius: 10%;
  margin-left: 40px;
  border: solid white;
  border-bottom: 0;

  
}

#button-task{
  background-color: #47ACF1;
  color: white;
}

#button-section{
  background-color:#EAEAEA ;
  color: #CCD1D7;
}

#parte-centrale{
  margin-left: 40px;
}

.color-code .viola{
  background-color: violet;
}

#viola{
  background-color: violet;
}
/* .entity-verde{
  color: greenyellow;
  border-color: greenyellow; 
}

.entity-red{
  color: red;
  border-color: red;
} */
/* INIZIO main */
